#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.categories {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D6154;
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    height: 15px;
    cursor: pointer;
    
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px 0;
}

.gallery img {
    width: 100%;
    
}

#contact {
    width: 50%;
    margin: auto;
}

#contact > * {
    text-align: center;
    
}

#contact h2{
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
