.blackBloc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
    color: white;
	height: 30px;
	gap: 15px;
    padding: 10px;
}

header {
	display: flex;
    flex-direction: column;
	margin: 0px;
	gap: 25px;
}

.nav {
	width: auto;
}

.buttonedition .fa-pen-to-square {
    color: white;
	background-color: black;
    border: none;
	margin-right: 5px;
}

.buttonedition {
    color: white;
	background-color: black;
	border: none;
	gap: 15px;
}

.publierLesChangements {
    border-radius: 15px;
    text-align: center;
	padding: 7px;
	border: none;
}

.intro-modifier {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#modif-projet .fa-pen-to-square {
	color: black;
}

.projets {
	display: flex;
	justify-content: center;
	text-align: center;
}

.projets .fa-pen-to-square {
	padding-left: 20px;
	padding-top: 10px;
}

.photo {
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 76px;
	height: 102px;
}

.add-photo {
	border-radius: 60px;
	border: none;
	color: white;
	background-color: #1D6154;
	height: 25px;
	width: 200px;
	cursor: pointer;
}

.supp-photo {
	border: none;
	color: red;
	background-color: white;
	cursor: pointer;
}