body {
    height: 100%;
}

main {
    flex: 1;
    display: flex;
}

#errDiv {
    color: red;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login {
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login > * {
    text-align: center;
    
}

#login h2{
    margin-bottom: 20px;
}

#login form {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 320px;
}

#login input {
    height: 50px;
    padding: 0 20px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
    margin: 2em 0 1em 0;
}

#login textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
